@using Framework.DomainModel.Entities.Common
@using Framework.Utility
@using ProjectName.HtmlHelpers
<style>
    .content-tab-index {
        height: 100% !important;
    }
</style>
<div data-ng-controller="sharedPlayListController as vms" ng-init="vms.shareInit(vm.Id)">
    <form name="popupForm">
        <div>
            <h4 class="mb5">Playlist information</h4>
            <hr class="mt0" />
        </div>
        <div kendo-tab-strip id="tab-strip-series">
            <ul>
                <li value="1" class="k-state-active"><i class="fa fa-info"></i> Main information</li>
                <li value="2"><i class="fa fa-info"></i> Vietnamese</li>
            </ul>
            <div class="content-tab-index" style="padding: 1em;">
                <div class="row">
                    @Html.CustomTextBox("Name", "Name", "vms.PlayList.Name", required: true, length: 300)
                    @Html.InputPositiveNumeric("OrderNumber", "Order Number", "vms.PlayList.OrderNumber", maximumValue: 100)
                    @Html.CustomCheckBox("IsActive", "Active", "vms.PlayList.IsActive")
                </div>
                <div class="row">
                    @Html.CustomTextArea("Description", "Description", "vms.PlayList.Description", maxlength: 4000, rows: 3, height: 150, classcol: ConstantValue.ClassCol12)
                </div>
                <div class="row">
                    @Html.CustomMultiSelect("SelectedItemIds", "Select video", "vms.PlayList.SelectedItemIds", readUrl: "/Video/GetLookup", classcol: ConstantValue.ClassCol12)
                </div>
                <div class="row">
                    @Html.CustomFileUploadAngular("Background", "Background", "vms.PlayList.Background", classcol: ConstantValue.ClassCol12, acceptType: "image/*", isUploadImage: true, selectText: "Browse image", imageType: (int)UploadImageType.PlaylistBackground, isFakeRemove: true, previewHeight: 200)
                </div>
            </div>
            <div class="content-tab-index" style="padding: 1em">
                <div class="row">
                    @Html.CustomTextBox("NameInVietnamese", "Name", "vms.PlayList.NameInVietnamese", required: true, length: 300)
                </div>
                <div class="row">
                    @Html.CustomTextArea("DescriptionInVietnamese", "Description", "vms.PlayList.DescriptionInVietnamese", maxlength: 4000, rows: 3, height: 150, classcol: ConstantValue.ClassCol12)
                </div>
                <div class="row">
                    @Html.CustomFileUploadAngular("BackgroundInVietnamese", "Background", "vms.PlayList.BackgroundInVietnamese", classcol: ConstantValue.ClassCol12, acceptType: "image/*", isUploadImage: true, selectText: "Browse image", imageType: (int)UploadImageType.PlaylistBackground, isFakeRemove: true, previewHeight: 200)
                </div>
            </div>
        </div>

    </form>
    <div ng-if="vms.PlayList.CreateMode" ng-include="'/app/layout/popupCreateFooter.html'"></div>
    <div ng-if="!vms.PlayList.CreateMode" ng-include="'/app/layout/popupUpdateFooter.html'"></div>
</div>