@model ProjectName.Models.Base.Date.DateTimePickerViewModel
<div class="form-group @Model.ClassCol">
    @if (!string.IsNullOrEmpty(Model.Label))
    {
        if (Model.ShowCurrentDateCheckbox)
        {
            <label class="p0 col-md-4 col-sm-12 col-xs-12 m0">
                @if (Model.RequiredAttribute == "required=\"required\"")
                {
                    <span class='red'>*</span>
                }@Model.Label
            </label>
            <div class="p0 col-md-8 col-sm-12 col-xs-12 text-right" style="margin-bottom: -2px; margin-top: -2px">
                <input id="CurrentDate" type="checkbox" class="k-checkbox" ng-model="@Model.CurrentDateModel">
                <label class="k-checkbox-label k-checkbox-label-sm" for="CurrentDate">Current Date and Time</label>
            </div>
        }
        else
        {

            <label class="p0 @Model.ClassLabel control-label">
                @if (Model.RequiredAttribute == "required=\"required\"")
                {
                    <span class='red'>*</span>
                }@Model.Label
            </label>
        }
    }

    <div class="p0 @Model.ClassField">
        <cis-datetime-picker ng-model="@Model.DataBindingValue"
                             picker-id="@Model.Id"
                             picker-format="@Model.Format"
                             picker-readonly="@Model.ReadOnly"
                             picker-place-holder="@Model.PlaceHolderText" @Model.HtmlAttributes style="width: 100%;" />
    </div>
</div>
<script type="text/javascript">
    @*$(document).ready(function () {
        //masked
            var datepicker = $("#@Model.Id");
            datepicker.kendoMaskedTextBox({
                mask: "00/00/0000 00:00 ~^",
                rules: {
                    "~": function (char) {
                        return char === "A" || char === "P" || char === "a" || char === "p";
                    },
                    "^": function (char) {
                        return char === "M" || char === "m"; //allow ony "^" symbol
                    }
                }
            });
            datepicker.closest(".k-datepicker")
                .add(datepicker)
                .removeClass("k-textbox");
    });*@
</script>