@using Framework.DomainModel.Entities.Common
@using Framework.Utility
@using ProjectName.HtmlHelpers
    <style>
        .content-tab-index {
            height: 100% !important;
        }
    </style>
<div data-ng-controller="sharedSeriesController as vms" ng-init="vms.shareInit(vm.Id)">
    <form name="popupForm">
        <div>
            <h4 class="mb5">Series information</h4>
            <hr class="mt0" />
        </div>
        <div kendo-tab-strip id="tab-strip-series">
            <ul>
                <li value="1" class="k-state-active"><i class="fa fa-info"></i> Main information</li>
                <li value="2"><i class="fa fa-info"></i> Vietnamese</li>
            </ul>
            <div class="content-tab-index" style="padding: 1em;">
                <div class="row">
                    @Html.CustomTextBox("Name", "Name", "vms.Series.Name", required: true, length: 300)
                </div>
                <div class="row">
                    @Html.CustomTextArea("Description", "Description", "vms.Series.Description", maxlength: 4000, rows: 3, height: 150, classcol: ConstantValue.ClassCol12)
                </div>
                <div class="row">
                    @Html.CustomFileUploadAngular("Background", "Background", "vms.Series.Background", classcol: ConstantValue.ClassCol12, acceptType: "image/*", isUploadImage: true, selectText: "Browse image", imageType: (int)UploadImageType.SeriesImage, isFakeRemove: true)
                </div>
                <div class="row">
                    @Html.CustomMultiSelect("SelectedItemIds", "Select video", "vms.Series.SelectedItemIds", readUrl: "/Video/GetLookup", classcol: ConstantValue.ClassCol12)
                </div>
                <div class="row">
                    @Html.CustomCheckBox("IsActive", "Active", "vms.Series.IsActive")
                    @Html.InputPositiveNumeric("OrderNumber", "Order Number", "vms.Series.OrderNumber")
                </div>
            </div>
            <div class="content-tab-index" style="padding: 1em">
                <div class="row">
                    @Html.CustomTextBox("NameInVietnamese", "Name", "vms.Series.NameInVietnamese", required: true, length: 300)
                </div>
                <div class="row">
                    @Html.CustomTextArea("DescriptionInVietnamese", "Description", "vms.Series.DescriptionInVietnamese", maxlength: 4000, rows: 3, height: 150, classcol: ConstantValue.ClassCol12)
                </div>
                <div class="row">
                    @Html.CustomFileUploadAngular("BackgroundInVietnamese", "Background", "vms.Series.BackgroundInVietnamese", classcol: ConstantValue.ClassCol12, acceptType: "image/*", isUploadImage: true, selectText: "Browse image", imageType: (int)UploadImageType.SeriesImage, isFakeRemove: true)
                </div>
            </div>
        </div>
        
    </form>
    <div ng-if="vms.Series.CreateMode" ng-include="'/app/layout/popupCreateFooter.html'"></div>
    <div ng-if="!vms.Series.CreateMode" ng-include="'/app/layout/popupUpdateFooter.html'"></div>
</div>