@using Microsoft.AspNetCore.Http.Extensions
<!DOCTYPE HTML>
<html lang="vi">

<head>
    <title>Đặt trước Galaxy Note, tuỳ chọn quà KHỦNG 6 TRIỆU tại Vinpro</title>
    <meta name="keywords" content="ProjectName, VinPro" />
    <meta name="description" content="Đặt trước Galaxy Note 10 & 10 Pro tại Vinpro, tùy ý lựa chọn quà phụ kiện công nghệ đẳng cấp hoặc mua sắm thả ga tại hệ sinh thái Vingroup trị giá đến 6 TRIỆU." />
    <meta property="og:title" content="Đặt trước Galaxy Note, tuỳ chọn quà KHỦNG 6 TRIỆU tại Vinpro" />
    <meta property="og:description" content="Đặt trước Galaxy Note 10 & 10 Pro tại Vinpro, tùy ý lựa chọn quà phụ kiện công nghệ đẳng cấp hoặc mua sắm thả ga tại hệ sinh thái Vingroup trị giá đến 6 TRIỆU." />
    <meta content="INDEX,FOLLOW" name="robots" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#f6f2ec" />
    <!--social-->
    <meta property="og:url" content="@Context.Request.GetDisplayUrl()" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Đặt trước Galaxy Note, tuỳ chọn quà KHỦNG 6 TRIỆU tại Vinpro" />
    <meta property="og:description" content="Vipro" />
    <meta property="og:image" content="@Url.Content("~/images/thumbnail.jpg")" />
    <!--link-->
    <link rel="icon" href="@Url.Content("~/images/favicon.ico")">

    <link rel="preload" href="@Url.Content("~/css/reset.css?v=1.0.0.3")" as="style">
    <link rel="preload" href="@Url.Content("~/css/index.css?v=1.0.0.3")" as="style">
    <style>
        .fs-cnt-wrap {
            opacity: 0
        }
    </style>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KH92BK3');</script>
    <!-- End Google Tag Manager -->

</head>

<body ng-app="myApp">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KH92BK3"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v4.0&appId=357480401866858&autoLogAppEvents=1"></script>

    <!--Container-->
    <div class="fs-cnt-wrap" ng-controller="mainController" ng-init="init()">

        <div class="fs-header">
            <div class="fs-header-inr">
                <div class="fs-logo">
                    <a href="/"><img src="@Url.Content("~/images/logo.png")" alt="Vipro"></a>
                </div>
                <div class="fs-nav-but fs-hidePc"></div>
                <div class="fs-navigation">
                    <ul>
                        <li data-target="is-timeline">sự kiện và quà tặng</li>
                        <li data-target="is-game">Chơi game</li>
                        <li data-target="is-condition">thể lệ</li>
                        <li data-target="is-comment">bình luận</li>
                    </ul>
                </div>
                <div class="fs-btn"><span>Đặt ngay</span></div>
            </div>
        </div>

        <!--content-->
        <div class="fs-cnt-inr">
            <div class="fs-clock-box">
                <div class="fs-clock-inr">
                    <div class="fs-clock-top"><p>Chỉ còn</p></div>
                    <div class="clock"></div>
                    <div class="fs-clock-bot">
                        <p><span>được trên tay</span>Note mới</p>
                    </div>
                </div>

            </div>
            <!--Supper products-->
            <div class="fs-section-box is-supper">
                <div class="fs-section-inr">

                    <div class="fs-kv-box">
                        <div class="fs-bg">
                            <div class="pcBg fs-lazy" data-src="@Url.Content("~/images/kv-bg-01.jpg")"></div>
                        </div>

                        <div class="fs-kv">
                            <img class="pcPic fs-lazy"
                                 src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                 data-src="@Url.Content("~/images/kv-pic.png")" alt="Đặt gạch siêu phầm Galaxy ProjectName | ProjectName+">
                            <img class="spPic fs-lazy"
                                 src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                 data-src="@Url.Content("~/images/kv-pic-sp.jpg")" alt="Đặt gạch siêu phầm Galaxy ProjectName | ProjectName+">
                        </div>

                        <div class="fs-box-but">
                            <div class="fs-btn gotoForm"><span>Đặt gạch</span></div>
                        </div>
                    </div>

                </div>
            </div>
            <!--/Supper products-->
            <!--Timeline-->
            <div class="fs-section-box is-timeline">

                <div class="fs-section-inr">

                    <div class=fs-timeline-top>

                        <div class="fs-bg">
                            <div class="pcBg fs-lazy" data-src="@Url.Content("~/images/timeline-bg.jpg")">
                            </div>
                            <div class="spBg fs-lazy" data-src="@Url.Content("~/images/timeline-bg-sp.jpg")">
                            </div>
                        </div>

                        <div class="fs-title">
                            <h2>Lịch Sự Kiện Ra Mắt Sản Phẩm</h2>
                        </div>

                        <div class="fs-range-box">

                            <div class="fs-range date-01">
                                <span class="fs-range-date">01/08</span>
                                <span class="fs-range-icon"></span>
                                <span class="fs-range-title">Đặt gạch sớm <br>siêu phẩm</span>
                            </div>

                            <div class="fs-range date-08 active">
                                <span class="fs-range-date">08/08</span>
                                <span class="fs-range-icon"></span>
                                <span class="fs-range-title">Lễ ra mắt <br>siêu phẩm</span>
                            </div>

                            <div class="fs-range date-14">
                                <span class="fs-range-date">14/08</span>
                                <span class="fs-range-icon"></span>
                                <span class="fs-range-title">Đặt trước <br>Siêu phẩm</span>
                            </div>

                            <div class="fs-range date-23">
                                <span class="fs-range-date">23/08</span>
                                <span class="fs-range-icon"></span>
                                <span class="fs-range-title">Chính thức mở bán <br>siêu phẩm</span>
                            </div>

                        </div>

                    </div>

                    <div class="fs-timeline-product">
                        <div class="fs-small-title">
                            <h2>Bộ Quà Tặng Đẳng Cấp Bao Gồm:</h2>
                        </div>
                        <div class="fs-timeline-slider fs_swiper-container">
                            <div class="fs_swiper-wrapper">

                                <div class="fs_swiper-slide is-galaxy-fit">
                                    <div class="fs-box">
                                        <div class="fs-box-inr">
                                            <div class="fs-area-pic">
                                                <img class="pcPic fs-lazy"
                                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                     data-src="@Url.Content("~/images/timeline-galaxy-fit.jpg")" alt="Samsung Galaxy Fit">
                                                <img class="spPic fs-lazy"
                                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                     data-src="@Url.Content("~/images/timeline-galaxy-fit-sp.jpg")"
                                                     alt="Samsung Galaxy Fit">
                                            </div>
                                            <div class="fs-area-txt">
                                                <h3>Samsung Galaxy Fit</h3>
                                                <ul>
                                                    <li>
                                                        <span>
                                                            Chuyên viên giúp bạn theo dõi, kiểm tra sức
                                                            khỏe
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            Khả năng chống nước, bụi bẩn hoàn hảo đạt chuẩn
                                                            5ATM
                                                        </span>
                                                    </li>
                                                    <li><span>Lượng pin kéo dài cả tuần không cần sạc</span></li>
                                                    <li><span>Thiết kế nhỏ gọn, tối giản nhưng đầy tinh tế</span></li>
                                                </ul>
                                                <p class="fs-price">Trị Giá: <span>2.490.000đ</span></p>
                                                <div class="fs-box-but">
                                                    <div class="fs-btn"><span>ĐẶT NGAY</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="fs_swiper-slide is-clear-view">
                                    <div class="fs-box">
                                        <div class="fs-box-inr">
                                            <div class="fs-area-pic">
                                                <img class="pcPic fs-lazy"
                                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                     data-src="@Url.Content("~/images/timeline-clear-view.jpg")" alt="Bao da Clear View">
                                                <img class="spPic fs-lazy"
                                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                     data-src="@Url.Content("~/images/timeline-clear-view-sp.jpg")"
                                                     alt="Bao da Clear View">
                                                <p class="fs-hidePc">
                                                    <small>
                                                        *Hình ảnh chỉ mang tính chất minh
                                                        họa.
                                                    </small>
                                                </p>
                                            </div>
                                            <div class="fs-area-txt">
                                                <h3>Bao da Clear View</h3>
                                                <ul>
                                                    <li><span>Giúp thao tác đơn giản không cần mở nắp bảo vệ</span></li>
                                                    <li>
                                                        <span>
                                                            Thiết kế mặt lưng vững chắc giúp ngăn chặn trầy
                                                            xước
                                                        </span>
                                                    </li>
                                                </ul>
                                                <p class="fs-price">Trị Giá: <span>1.190.000đ</span></p>
                                                <p class="fs-hideSp">
                                                    <small>
                                                        *Hình ảnh chỉ mang tính chất minh
                                                        họa.
                                                    </small>
                                                </p>
                                                <div class="fs-box-but">
                                                    <div class="fs-btn"><span>ĐẶT NGAY</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="fs_swiper-slide is-charging">
                                    <div class="fs-box">
                                        <div class="fs-box-inr">
                                            <div class="fs-area-pic">
                                                <img class="pcPic fs-lazy"
                                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                     data-src="@Url.Content("~/images/timeline-charging.jpg")"
                                                     alt="Sạc dự phòng không dây">
                                                <img class="spPic fs-lazy"
                                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                     data-src="@Url.Content("~/images/timeline-charging-sp.jpg")"
                                                     alt="Sạc dự phòng không dây">
                                            </div>
                                            <div class="fs-area-txt">
                                                <h3>Sạc dự phòng không dây</h3>
                                                <ul>
                                                    <li><span>Thời lượng pin 10,000mAh vượt trội</span></li>
                                                    <li><span>Thiết kế nhỏ gọn, tối giản</span></li>
                                                    <li><span>Đèn LED tiện lợi giúp kiểm tra lượng pin</span></li>
                                                </ul>
                                                <p class="fs-price">Trị Giá: <span>1.290.000đ</span></p>
                                                <div class="fs-box-but">
                                                    <div class="fs-btn"><span>ĐẶT NGAY</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="fs_swiper-slide is-buds">
                                    <div class="fs-box">
                                        <div class="fs-box-inr">
                                            <div class="fs-area-pic">
                                                <img class="pcPic fs-lazy"
                                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                     data-src="@Url.Content("~/images/timeline-buds.jpg")" alt="Tai nghe Galaxy Buds">
                                                <img class="spPic fs-lazy"
                                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                     data-src="@Url.Content("~/images/timeline-buds-sp.jpg")" alt="Tai nghe Galaxy Buds ">
                                            </div>
                                            <div class="fs-area-txt">

                                                <h3>Tai nghe Galaxy Buds</h3>
                                                <ul>
                                                    <li>
                                                        <span>
                                                            Tai nghe không dây chính hãng Samsung, thiết kế nhỏ gọn
                                                            năng động
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            Chất lượng âm thanh tuyệt hảo từ AKG với tai nghe in-ear
                                                            chống ồn
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            Thời lượng pin lên đến 13h. Sạc thêm nhanh chóng qua áp
                                                            hộp sạc
                                                            lên mặt lưng điện thoại
                                                        </span>
                                                    </li>
                                                </ul>
                                                <p class="fs-price">Trị Giá: <span>1.290.000đ</span></p>
                                                <div class="fs-box-but">
                                                    <div class="fs-btn"><span>ĐẶT NGAY</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="fs_swiper-slide is-voucher">
                                    <div class="fs-voucher-box">
                                        <div class="fs-box">
                                            <div class="fs-box-inr">
                                                <div class="fs-area-pic">
                                                    <img class="cmPic fs-lazy"
                                                         src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                         data-src="@Url.Content("~/images/timeline-voucher-01.jpg")"
                                                         alt="Bao da Clear View">
                                                </div>
                                                <div class="fs-area-txt">
                                                    <p>
                                                        Dễ dàng sở hữu siêu phẩm với hỗ trợ trả góp <span>
                                                            0% lãi
                                                            suất
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fs-box">
                                            <div class="fs-box-inr">
                                                <div class="fs-area-pic">
                                                    <img class="cmPic fs-lazy"
                                                         src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                         data-src="@Url.Content("~/images/timeline-voucher-02.jpg")"
                                                         alt="Thoải mái nghỉ ngơi tại phòng chờ hạng thương gia">
                                                </div>
                                                <div class="fs-area-txt">
                                                    <p>Thoải mái nghỉ ngơi tại phòng chờ hạng thương gia</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fs-box">
                                            <div class="fs-box-inr">
                                                <div class="fs-area-pic">
                                                    <img class="cmPic fs-lazy"
                                                         src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                         data-src="@Url.Content("~/images/timeline-voucher-03.jpg")"
                                                         alt="Mua sắm thả ga tại hệ thống cửa hàng Vinpro - Viễn Thông A với PMH trị giá 1.000.000đ">
                                                </div>
                                                <div class="fs-area-txt">
                                                    <p>
                                                        Mua sắm thả ga tại <br>hệ thống cửa hàng Vinpro - Viễn Thông A <br>với
                                                        PMH
                                                        trị giá <span>1.000.000đ</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fs-box-but">
                                        <div class="fs-btn"><span>ĐẶT NGAY</span></div>
                                    </div>
                                </div>

                                <div class="fs_swiper-slide is-vinid">
                                    <div class="fs-box">
                                        <div class="fs-box-inr">
                                            <div class="fs-area-pic">
                                                <img class="pcPic fs-lazy"
                                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                     data-src="@Url.Content("~/images/timeline-vinid.jpg")" alt="Thẻ tặng quà VinID">
                                                <img class="spPic fs-lazy"
                                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                     data-src="@Url.Content("~/images/timeline-vinid-sp.jpg")" alt="Thẻ tặng quà VinID">
                                            </div>
                                            <div class="fs-area-txt">
                                                <p>
                                                    Thỏa sức tận hưởng mua sắm trong hệ sinh thái Vingroup <br>(các dịch vụ như Vinpearl, Vinschool, Vincom, Vinfast, Vinmec,
                                                    Vinpro*) với Thẻ quà tặng <span>VinID trị giá 3.500.000đ</span>
                                                    <small>*Chỉ áp dụng khi mua sản phẩm Samsung</small>
                                                </p>
                                                <div class="fs-box-but">
                                                    <div class="fs-btn"><span>ĐẶT NGAY</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="pagination"></div>
                        </div>

                        <div class="fs-nav">
                            <div class="fs-nav-next"></div>
                            <div class="fs-nav-prev"></div>
                        </div>

                    </div>

                </div>

            </div>
            <!--/Timeline-->
            <!--Game-->
            <div class="fs-section-box is-game">

                <div class="fs-section-inr">

                    <div class="fs-bg">
                        <div class="cmBg fs-lazy" data-src="@Url.Content("~/images/game-bg.jpg")"></div>
                    </div>

                    <div class="fs-game-pop active">

                        <div class="fs-game-close"></div>

                        <div class="fs-game-box is-star">

                            <div class="fs-title">
                                <h2>
                                    <span>Nhận ngay quà tặng siêu khủng khi tham gia</span>
                                    thử thách cho các nhà thông thái
                                </h2>
                                <p>
                                    <img class="cmPic fs-lazy"
                                         src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                         data-src="@Url.Content("~/images/gamge-title.png")" alt="Siêu phẩm note mới">
                                </p>
                            </div>

                            <div class="fs-promotion-for-game">

                                <div class="fs-box">
                                    <div class="fs-area-pic">
                                        <img class="cmPic fs-lazy"
                                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                             data-src="@Url.Content("~/images/curved-monitor.png")" alt="Màn hình LCD Samsung"></p>
                                    </div>
                                </div>

                                <div class="fs-box">
                                    <div class="fs-area-pic">
                                        <img class="cmPic fs-lazy"
                                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                             data-src="@Url.Content("~/images/tv-led-samsung.png")" alt="TV LED Samsung"></p>
                                    </div>
                                </div>

                            </div>

                            <div class="fs-condition-link">
                                <a href="javascript:void(0)">Điều kiện và thể lệ</a>
                            </div>

                            <div class="fs-box-but">
                                <div class="fs-btn">
                                    <span>Bắt đầu ngay</span>
                                </div>
                            </div>
                        </div>
                        <button style="display:none" value="WinGame" id="btnWinGame" ng-click="winGame()"></button>

                        <div class="fs-game-box is-win" style="display:none">

                            <div class="fs-title">
                                <h2>BẠN ĐÃ TRỞ THÀNH NHÀ THÔNG THÁI</h2>
                                <p>
                                    <img class="cmPic fs-lazy"
                                         src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                         data-src="@Url.Content("~/images/gamge-title.png")" alt="Siêu phẩm note mới">
                                </p>
                            </div>

                            <div class="fs-gilt-box">

                                <div class="fs-box type-chest is-open win-open-first" style="display: none" id="openChestConfirmInGame">
                                    <div class="fs-area-pic">
                                        <img class="cmPic fs-lazy"
                                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                             data-src="@Url.Content("~/images/game/open-chest.png")"
                                             alt="Nhấn vào rương kho báu để mở khoá quà bí ẩn là gì"
                                             ng-click="openChestInGame()">
                                    </div>
                                    <div class="fs-area-txt">
                                        <p>Nhấn vào rương kho báu để mở khoá quà bí ẩn là gì?</p>
                                    </div>
                                </div>

                                <div class="fs-box type-chest is-open win-open-lost" id="noProductWithGame" style="display: none">
                                    <div class="fs-area-pic">
                                        <img class="cmPic fs-lazy"
                                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                             data-src="@Url.Content("~/images/game/empty-chest.png")" alt="The chest">
                                    </div>
                                    <div class="fs-area-txt">
                                        <p>Ôi tiếc quá! rương này không có quà thử săn lại kho báu khác nhé T.T</p>
                                    </div>
                                </div>

                                <div class="fs-box type-chest win-open-winner" id="gameWinLcd" style="display: none">
                                    <div class="fs-area-pic">
                                        <img class="cmPic fs-lazy"
                                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                             data-src="@Url.Content("~/images/game/chest.png")" alt="The chest">
                                        <img class="cmPic image-gilf fs-lazy"
                                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                             data-src="@Url.Content("~/images/game/gift-tv-monitor.png")" alt="Màn hình LCD Samsung">
                                    </div>
                                    <div class="fs-area-txt">
                                        <h2>Chúc mừng bạn đã mở được kho báu</h2>
                                        <h3 class="fs-price">
                                            1 x Màn hình LCD Samsung trị giá: <strong>
                                                4.990.000
                                                VND
                                            </strong>
                                        </h3>
                                        <p>Vui lòng đặt Note mới để nhận được quà tặng đi kèm này nhé</p>
                                    </div>
                                </div>

                                <div class="fs-box type-chest" style="display: none" id="gameWinTivi">
                                    <div class="fs-area-pic">
                                        <img class="cmPic fs-lazy"
                                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                             data-src="@Url.Content("~/images/game/chest.png")" alt="The chest">
                                        <img class="cmPic image-gilf fs-lazy"
                                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                             data-src="@Url.Content("~/images/game/gift-tv-hd.png")" alt="TV LED Samsung">
                                    </div>
                                    <div class="fs-area-txt">
                                        <h2>Chúc mừng bạn đã mở được kho báu</h2>
                                        <h3 class="fs-price">
                                            1 x TV LED Samsung trị giá: <strong>6.400.000 VND</strong>
                                        </h3>
                                        <p>Vui lòng đặt Note mới để nhận được quà tặng đi kèm này nhé</p>
                                    </div>
                                </div>

                            </div>

                            <div class="fs-box-but">
                                <div class="fs-btn btn-play-again"><span>Chơi Lại</span></div>
                                <div class="fs-btn btn-burche gotoForm"><span>Đặt Gạch</span></div>
                            </div>

                        </div>

                        <div class="fs-game-box is-lost" style="display:none">
                            <div class="fs-box">
                                <div class="fs-area-pic">
                                    <img class="cmPic fs-lazy"
                                         src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                         data-src="@Url.Content("~/images/user.png")" alt="Rất tiếc bạn đã trả lời sai!
                                        Bạn có muốn chơi lại không?">
                                </div>
                                <div class="fs-area-txt">
                                    <h2>Rất tiếc bạn đã trả lời sai! <br>Bạn có muốn chơi lại không?</h2>
                                </div>
                                <div class="fs-box-but">
                                    <div class="fs-btn btn-play-again"><span>Chơi Lại</span></div>
                                    <div class="fs-btn gotoForm"><span>Đặt Gạch</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="fs-game-box is-not-finish" style="display:none">
                            <div class="fs-box">
                                <div class="fs-area-txt">
                                    <h2>Bạn chưa hoàn thành trò chơi, bạn có muốn tiếp tục chơi không?</h2>
                                </div>
                                <div class="fs-box-but">
                                    <div class="fs-btn btn-continute"><span>Chơi tiếp</span></div>
                                    <div class="fs-btn gotoForm"><span>Đặt Gạch</span></div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="fs-game-player">

                        <div class="fs-title">
                            <h2>thử thách cho các nhà thông thái</h2>
                            <p>
                                <img class="cmPic fs-lazy"
                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                     data-src="@Url.Content("~/images/gamge-title.png")" alt="Siêu phẩm note mới">
                            </p>
                        </div>

                        <div class="fs-question-nav">
                            <ul>
                                <li data-question="question-01"><span></span></li>
                                <li data-question="question-02"><span></span></li>
                                <li data-question="question-03"><span></span></li>
                                <li data-question="question-04"><span></span></li>
                                <li data-question="question-05"><span></span></li>
                            </ul>
                        </div>

                        <div class="fs-question-title">
                            <h3>Màn hình của Samsung Galaxy ProjectName Pro <br>có kích thước là bao nhiêu?</h3>
                        </div>

                        <div class="fs-condition-link"><a href="javascript:void(0)">Điều kiện & Thể Lệ</a></div>

                        <div class="fs-gift-box">
                            <h3>Quà tặng khủng bạn có thể trúng thêm</h3>
                            <div class="fs-gift-items">
                                <div class="fs-box">
                                    <div class="fs-area-pic">
                                        <img class="cmPic fs-lazy"
                                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                             data-src="@Url.Content("~/images/curved-monitor-thumb.png")" alt="màn hình LCD SAMSUNG">
                                    </div>
                                    <div class="fs-area-txt">
                                        <p class="fs-number-quantity">{{lcdRemain}}</p>
                                        <h3>Màn hình LCD Samsung <span class="fs-price">4.990.000đ</span></h3>
                                    </div>
                                </div>
                                <div class="fs-box">
                                    <div class="fs-area-pic">
                                        <img class="cmPic fs-lazy"
                                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                             data-src="@Url.Content("~/images/tv-led-samsung-thumb.png")" alt="TV LED SAMSung">
                                    </div>
                                    <div class="fs-area-txt">
                                        <p class="fs-number-quantity">{{tiviRemain}}</p>
                                        <h3>TV LED Samsung <span class="fs-price">6.400.000đ</span></h3>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="fs-game-box"></div>
                        <div id="fs-game-player"></div>
                        <div id="fs-game-wrapper"></div>
                    </div>

                </div>

            </div>
            <!--/Game-->
            <!--Form-->
            <div class="fs-section-box is-form">

                <div class="fs-section-inr">

                    <div class="fs-form">
                        <!--ProjectName + cn + mh-->
                        <div class="fs-form-top">
                            <div class="fs-box main-product">
                                <div class="fs-box-inr">

                                    <div class="fs-area-pic">
                                        <img class="cmPic fs-lazy"
                                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                             data-src="@Url.Content("~/images/image-ProjectName.png")" alt="samsung galaxy ProjectName+">

                                        <ul class="fs-product-type">
                                            <li ng-click="selectNote(1)" ng-class="SelectedNote.Id==1?'active':''">Note 10</li>
                                            <li ng-click="selectNote(2)" ng-class="SelectedNote.Id==2?'active':''">Note 10 +</li>
                                        </ul>
                                    </div>

                                    <div class="fs-area-txt">
                                        <h3>{{SelectedNote.Name}}</h3>
                                        <p class="fs-price">
                                            Giá dự kiến: <strong>
                                                {{SelectedNote.Price}}
                                                <sup>đ</sup>
                                            </strong>
                                        </p>
                                        <p class="fs-deposit">Cọc: <strong>1.000.000<sup>đ</sup></strong></p>

                                        <div class="fs-small-box" ng-show="Order.WinProductId==3||Order.WinProductId==4">

                                            <div class="fs-small-caption">Bạn đã trúng thêm:</div>
                                            <div class="fs-small-pic">
                                                <img class="cmPic fs-lazy" ng-show="Order.WinProductId==4"
                                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                     data-src="@Url.Content("~/images/gilf-thumb-monitor.png")"
                                                     alt="Màn hình LCD Samsung LC27F397FHEXXV" />
                                                <img class="cmPic fs-lazy" ng-show="Order.WinProductId==3"
                                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                     data-src="@Url.Content("~/images/gilf-thumb-monitor.png")"
                                                     alt="TV LED Samsung UA32N4300AKXXV">
                                                @*<ul class="fs-product-type">
                                                <li>Note 10</li>
                                                <li>Note 10 +</li>
                                            </ul>*@
                                            </div>

                                            <div class="fs-small-txt" ng-show="Order.WinProductId==4">
                                                <h3>Màn hình LCD Samsung <span>LC27F397FHEXXV</span></h3>
                                                <p class="fs-price">4.990.000<sup>đ</sup></p>
                                            </div>
                                            <div class="fs-small-txt" ng-show="Order.WinProductId==3">
                                                <h3>TV LED Samsung <span>UA32N4300AKXXV </span></h3>
                                                <p class="fs-price">6.400.000<sup>đ</sup></p>
                                            </div>

                                        </div>

                                        <ul class="fs-color-box" ng-show="SelectedNote.Id==1">
                                            <li class="fs-color-blue">Ánh <br>Cực Quang</li>
                                            <li class="fs-color-back">Đen <br>Pha Lê</li>
                                            <li class="fs-color-white">Hồng <br>Ruby</li>
                                        </ul>
                                        <ul class="fs-color-box" ng-show="SelectedNote.Id==2">
                                            <li class="fs-color-blue">Ánh <br>Cực Quang</li>
                                            <li class="fs-color-back">Đen <br>Pha Lê</li>
                                            <li class="fs-color-white">Trắng <br>Ánh Sao</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="fs-box">
                                <div class="fs-hunter-item">
                                    <div class="fs-area-pic is-single">
                                        <img ng-class="Order.ProductId==2&&SelectedNote.Id==2?'cmPic fs-lazy active':'cmPic fs-lazy'"
                                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                             data-src="@Url.Content("~/images/promotion-vinpro.png")" alt="Bộ quà VinPro">
                                        <img ng-class="Order.ProductId==1&&SelectedNote.Id==2?'cmPic fs-lazy active':'cmPic fs-lazy'"
                                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                             data-src="@Url.Content("~/images/promotion-technical.png")" alt="Bộ quà công nghệ">
                                        <img ng-class="SelectedNote.Id==1?'cmPic fs-lazy active':'cmPic fs-lazy'"
                                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                             data-src="@Url.Content("~/images/promotion-percent.png")"
                                             alt="Quà tặng ProjectName">
                                    </div>
                                </div>
                                <div class="fs-select-list fsSelectPromotion" id="fsSelectPromotion">
                                    <div class="fs-select-header">
                                        <h3 ng-show="SelectedNote.Id==2">Lựa chọn bộ quà</h3>
                                        <h3 ng-show="SelectedNote.Id==1">Quà tặng ProjectName</h3>
                                    </div>
                                    <div class="fs-select-box">
                                        <ul>
                                            <li ng-show="SelectedNote.Id==2" ng-click="selectProduct(1)" id="selectProduct1" ng-class="Order.ProductId==1?'selected':''">Bộ quà công nghệ</li>
                                            <li ng-show="SelectedNote.Id==2" ng-click="selectProduct(2)" id="selectProduct2" ng-class="Order.ProductId==2?'selected':''">Bộ quà VinPro</li>
                                            <li ng-show="SelectedNote.Id==1" ng-click="selectProduct(5)" id="selectProduct5" class="selected">Quà tặng ProjectName</li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="fs-form-box">
                            <form id="fs_hunter_form">

                                <div class="fs-box">
                                    <ul class="fs-chose-gender">
                                        <li><strong>Thông tin cá nhân</strong></li>
                                        <li>
                                            <input class="fs-radio-input" type="radio" name="fs_gender" id="rdoMale"
                                                   ng-model="Order.Gender" value="1">
                                            <label class="fs-radio-label" for="rdoMale">Anh</label>
                                        </li>
                                        <li>
                                            <input class="fs-radio-input" type="radio" name="fs_gender" id="rdoFeeMale" ng-model="Order.Gender" value="2">
                                            <label class="fs-radio-label" for="rdoFeeMale">Chị</label>
                                        </li>
                                    </ul>
                                </div>

                                <div class="fs-box size-08">
                                    <div class="fs-form-input">
                                        <div class="fs-caption">Họ và tên:</div>
                                        <div class="fs-form-group" id="nameErrorGroup">
                                            <input type="text" name="fs_txt_name" id="fs_txt_name" ng-model="Order.FullName">
                                            <div class="fs_error_txt">
                                                <p id="txtNameError"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="fs-box size-04">
                                    <div class="fs-form-input">
                                        <div class="fs-caption">Số điện thoại:</div>
                                        <div class="fs-form-group" id="phoneErrorGroup">
                                            <input type="text" name="fs_txt_phone" id="fs_txt_phone" ng-model="Order.Phone">
                                            <div class="fs_error_txt">
                                                <p id="txtPhoneError"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="fs-box fs-has-layout">
                                    <div class="fs-form-input">
                                        <div class="fs-caption">Email:</div>
                                        <div class="fs-form-group" id="emailErrorGroup">
                                            <input type="text" name="fs_txt_email" id="fs_txt_email" ng-model="Order.Email">
                                            <div class="fs_error_txt">
                                                <p id="txtEmailError"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="fs-box">
                                    <ul class="fs-chose-payment fs-form-radio">
                                        <li><strong>Phương thức thanh toán:</strong></li>
                                        <li>
                                            <input class="fs-radio-input" type="radio" name="fs_payment" id="rdoShop"
                                                   ng-model="Order.PaymentType" value="1" data-target="byShop">
                                            <label class="fs-radio-label" for="rdoShop">Đặt cọc tại cửa hàng</label>
                                        </li>
                                        <li>
                                            <input class="fs-radio-input" type="radio" name="fs_payment" id="rdoAtm" ng-model="Order.PaymentType" value="2" data-target="byAtm">
                                            <label class="fs-radio-label" for="rdoAtm">Đặt cọc qua chuyển khoản</label>
                                        </li>
                                    </ul>
                                </div>

                                <div class="fs-box is-grey">
                                    <div class="fs-flow-radio is-shop active" data-target="byShop">
                                        <p>Vui lòng lựa chọn cửa hàng bạn muốn gửi tiền đặt cọc:</p>

                                        <div class="fs_contain_error" id="storeErrorGroup">
                                            <div class="fs_error_txt">
                                                <p id="errorPaymentType"></p>
                                            </div>
                                        </div>

                                        <div class="fs-col">
                                            <div class="fs-select-list" id="fsSelectCity">
                                                <div class="fs-select-header">
                                                    <h3>Thành Phố</h3>
                                                </div>
                                                <div class="fs-select-box">
                                                    <ul>
                                                        <li ng-click="changeCityOtherAddr(0)" rel="0" class="selected" id="cityInOtherAddr0">Thành Phố</li>
                                                        <li ng-repeat="item in cities" ng-click="changeCityOtherAddr(item.Id)" rel="{{item.Id}}" id="{{'cityInOtherAddr'+item.Id}}">{{item.DisplayText}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="fs-col">
                                            <div class="fs-select-list" id="fsSelectDistrict">
                                                <div class="fs-select-header" id="districtArea">
                                                    <h3>Quận</h3>
                                                </div>
                                                <div class="fs-select-box">
                                                    <ul>
                                                        <li ng-click="changeDistrictOtherAddr(0)" rel="0" id="districtInOtherAddr0">Quận</li>
                                                        <li ng-repeat="item in districts" rel="{{item.Id}}" ng-click="changeDistrictOtherAddr(item.Id)" id="{{'districtInOtherAddr'+item.Id}}">{{item.DisplayText}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="fs-col">
                                            <div class="fs-select-list" id="fsSelectShop">
                                                <div class="fs-select-header" id="storeArea">
                                                    <h3>Cửa Hàng</h3>
                                                </div>
                                                <div class="fs-select-box">
                                                    <ul>
                                                        <li ng-click="changeStoreOtherAddr(0)" rel="0" id="storeInOtherAddr0">Cửa hàng</li>
                                                        <li ng-repeat="item in stores" rel="{{item.Id}}" ng-click="changeStoreOtherAddr(item.Id)" id="{{'storeInOtherAddr'+item.Id}}">{{item.DisplayText}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fs-flow-radio is-atm" data-target="byAtm" style="display: none">
                                        <p>
                                            Bạn vui lòng chuyển khoản 1.000.000 trong 24h để đặt cọc cho sản phẩm đến tài
                                            khoản:
                                        </p>
                                        <ul>
                                            <li><strong>Số tài khoản:</strong> 12310000898705</li>
                                            <li>
                                                <strong>Tên chủ tài khoản:</strong> Công ty TNHH kinh doanh và thương
                                                mại dịch vụ VinPro
                                            </li>
                                            <li><strong>Tên ngân hàng:</strong> BIDV</li>
                                            <li><strong>Chi nhánh:</strong> NGÂN HÀNG TMCP DT&PTVN-CN QUANG TRUNG</li>
                                            <li><strong>Tỉnh/Thành phố:</strong> Hà Nội</li>
                                            <li>
                                                <strong>Nội dung chuyển khoản:</strong> Preorder Note 10 + Tên khách
                                                hàng + SĐT khách
                                                hàng
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="fs-box-but">
                                    <div class="fs-btn" ng-click="confirmOrder()"><span>Xác nhận đơn hàng</span></div>
                                </div>

                            </form>
                        </div>
                    </div>

                    <div class="fs-customer">

                        <div class="fs-title">
                            <h2>danh sách khách hàng</h2>
                        </div>

                        <div class="fs-customer-top fs-has-layout">

                            <div class="fs-viewed">
                                <span class="fs-number">{{customerListCount}}</span>
                                <p>Người đã cọc</p>
                            </div>

                            <div class="fs-search">
                                <input type="text" name="fs_txt_search" id="fs_txt_search" ng-keypress="searchCustomerEnter($event)"
                                       placeholder="Nhập tên/SĐT để tìm" ng-model="filerCustomer" />
                                <div class="fs-search-but" ng-click="searchCustomer()"></div>
                            </div>

                        </div>

                        <div class="fs-customer-resuslts">
                            <div class="fs-customer-items fs-has-layout">
                                <ul ng-repeat="item in customers" ng-show="customers.length>0">
                                    <li>{{item.Name}}</li>
                                    <li>{{item.Phone}}</li>
                                    <li>{{item.Time}}</li>
                                </ul>
                            </div>
                        </div>

                        <div class="fs-box-but">
                            <div class="fs-btn" ng-click="loadMoreCustomer()"><span>còn {{customerRemain}} kết quả</span></div>
                        </div>


                    </div>

                </div>

                <div class="fs-payment">
                    <div class="fs-bg">
                        <div class="cmBg fs-lazyExtra" data-src="@Url.Content("~/images/payment-bg.jpg")">
                        </div>
                    </div>
                    <div class="close-payment" ng-click="closePayment()"></div>

                    <div class="fs-payment-box fs-confirm fs-show" style="display:none" id="confirmStep2Popup">
                        <div class="fs-box">
                            <div class="fs-area-pic">
                                <img class="cmPic fs-lazyExtra"
                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                     data-src="@Url.Content("~/images/payment-pic.png")" alt="the next galaxy">
                                <img class="cmPic fs-lazyExtra image-shadow"
                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                     data-src="@Url.Content("~/images/payment-pic-shadow.png")" alt="the next galaxy">
                            </div>
                            <div class="fs-area-txt" ng-show="Order.ProductId==1">
                                <h2>Bạn đang xác nhận đặt trước<br>Galaxy ProjectName+ cùng với bộ quà tặng như sau: </h2>
                                <ul>
                                    <li>Đồng hồ Galaxy Fit trị giá: <strong>2,490,000đ</strong></li>
                                    <li>Sạc dự phòng không dây trị giá: <strong>1,290,000đ</strong></li>
                                    <li>Bao da Clear view trị giá: <strong>1,190,000đ</strong></li>
                                    <li>Phiếu mua hàng tại VinPro - VTA trị giá: <strong>1,000,000đ</strong></li>
                                </ul>
                                <ul>
                                    <li ng-show="Order.WinProductId==3">Tivi LED Samsung UA32N4300AKXXV trị giá: <strong>6,400,000đ</strong></li>
                                    <li ng-show="Order.WinProductId==4">Màn hình LCD Samsung LC27F397FHEXXV trị giá: <strong>4,990,000đ</strong></li>
                                    <li>Tích điểm thẻ VinID <strong>3%</strong></li>
                                    <li><strong>Trả góp lãi suất 0%</strong></li>
                                    <li><strong>Đặc quyền phòng chờ hạng thương gia</strong></li>
                                </ul>
                                <p ng-show="Order.WinProductId==''||Order.WinProductId==0">Tổng giá trị bộ quà tặng: <strong>5.970.000đ</strong></p>
                                <p ng-show="Order.WinProductId==3">Tổng giá trị bộ quà tặng: <strong>12.370.000đ</strong></p>
                                <p ng-show="Order.WinProductId==4">Tổng giá trị bộ quà tặng: <strong>10.960.000đ</strong></p>
                                <p>Nhân viên VinPro sẽ liên hệ với bạn sớm nhất để hoàn tất thanh toán</p>
                                <div class="fs-box-but">
                                    <div class="fs-btn btn-confirm" ng-click="confirmOrderStep2()"><span>Xác nhận đơn hàng</span></div>
                                </div>
                            </div>
                            <div class="fs-area-txt" ng-show="Order.ProductId==2">
                                <h2>Bạn đang xác nhận đặt trước<br>Galaxy ProjectName+ cùng với bộ quà tặng như sau: </h2>
                                <ul>
                                    <li>Thẻ quà tặng VinID trị giá: <strong>3,500,000đ</strong></li>
                                    <li>Sạc dự phòng không dây trị giá: <strong>1,290,000đ</strong></li>
                                    <li>Bao da Clear view trị giá: <strong>1,190,000đ</strong></li>
                                </ul>
                                <ul>
                                    <li ng-show="Order.WinProductId==3">Tivi LED Samsung UA32N4300AKXXV trị giá: <strong>6,400,000đ</strong></li>
                                    <li ng-show="Order.WinProductId==4">Màn hình LCD Samsung LC27F397FHEXXV trị giá: <strong>4,990,000đ</strong></li>
                                    <li><strong>Trả góp lãi suất 0%</strong></li>
                                    <li><strong>Đặc quyền phòng chờ hạng thương gia</strong></li>
                                </ul>
                                <p ng-show="Order.WinProductId==''||Order.WinProductId==0">Tổng giá trị bộ quà tặng: <strong>5.980.000đ</strong></p>
                                <p ng-show="Order.WinProductId==3">Tổng giá trị bộ quà tặng: <strong>12.380.000đ</strong></p>
                                <p ng-show="Order.WinProductId==4">Tổng giá trị bộ quà tặng: <strong>10.970.000đ</strong></p>
                                <p>Nhân viên VinPro sẽ liên hệ với bạn sớm nhất để hoàn tất thanh toán</p>
                                <div class="fs-box-but">
                                    <div class="fs-btn btn-confirm" ng-click="confirmOrderStep2()"><span>Xác nhận đơn hàng</span></div>
                                </div>
                            </div>
                            <div class="fs-area-txt" ng-show="Order.ProductId==5">
                                <h2>Bạn đang xác nhận đặt trước<br>Galaxy ProjectName cùng với bộ quà tặng như sau: </h2>
                                <ul>
                                    <li>Tai nghe Samsung Galaxy Buds trị giá: <strong>4,490,000đ</strong></li>
                                    <li ng-show="Order.WinProductId==3">Tivi LED Samsung UA32N4300AKXXV trị giá: <strong>6,400,000đ</strong></li>
                                    <li ng-show="Order.WinProductId==4">Màn hình LCD Samsung LC27F397FHEXXV trị giá: <strong>4,990,000đ</strong></li>
                                </ul>
                                <ul>
                                    <li><strong>Trả góp lãi suất 0%</strong></li>
                                    <li><strong>Đặc quyền phòng chờ hạng thương gia</strong></li>
                                </ul>


                                <p ng-show="Order.WinProductId==''||Order.WinProductId==0">Tổng giá trị bộ quà tặng: <strong>4.490.000đ</strong></p>
                                <p ng-show="Order.WinProductId==3">Tổng giá trị bộ quà tặng: <strong>10.890.000đ</strong></p>
                                <p ng-show="Order.WinProductId==4">Tổng giá trị bộ quà tặng: <strong>9.480.000đ</strong></p>
                                <p>Nhân viên VinPro sẽ liên hệ với bạn sớm nhất để hoàn tất thanh toán</p>
                                <div class="fs-box-but">
                                    <div class="fs-btn btn-confirm" ng-click="confirmOrderStep2()"><span>Xác nhận đơn hàng</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="fs-payment-box fs-success" style="display:none" id="completePurchaseOrderPopup">

                        <div class="fs-box">
                            <div class="fs-area-pic">
                                <img class="cmPic fs-lazyExtra"
                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                     data-src="@Url.Content("~/images/payment-pic.png")" alt="the next galaxy">
                                <img class="cmPic fs-lazyExtra image-shadow"
                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                     data-src="@Url.Content("~/images/payment-pic-shadow.png")" alt="the next galaxy">
                            </div>
                            <div class="fs-area-txt">
                                <h2>Đơn hàng đặt trước đã được xác nhận.</h2>
                                <p>Nhân viên VinPro sẽ liên hệ với bạn sớm nhất <br>để hoàn tất thanh toán.</p>
                                <div class="fs-box-but">
                                    <div class="fs-btn btn-confirm-next" ng-click="closePayment()"><span>Tiếp Tục</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="fs-payment-box fs-game-confirm" style="display:none" id="popupGameConfirm">

                        <div class="fs-box">
                            <div class="fs-area-pic">
                                <img class="cmPic fs-lazy"
                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                     data-src="@Url.Content("~/images/payment-pic.png")"
                                     alt="Bạn đã xác nhận đơn hàng Samsung Galaxy Note Mới">
                                <img class="cmPic fs-lazy image-shadow"
                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                     data-src="@Url.Content("~/images/payment-pic-shadow.png")"
                                     alt="Bạn đã xác nhận đơn hàng Samsung Galaxy Note Mới">
                            </div>
                            <div class="fs-area-txt">
                                <h2>
                                    Bạn đã xác nhận đơn hàng Samsung Galaxy Note Mới <span>
                                        Bạn có muốn nhận thêm 1
                                        lượt mở rương bí ẩn.
                                    </span>
                                </h2>
                                <h3>Thử ngay nhé!</h3>
                                <div class="fs-box-but">
                                    <div class="fs-btn" ng-click="openChestConfirm()"><span>Mở Rương</span></div>
                                    <div class="fs-btn" ng-click="ignoreOpenChest()"><span>Tiếp Tục</span></div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="fs-payment-box fs-open-chest type-chest is-open" style="display:none" id="popupGameOpenChestConfirm">
                        <div class="fs-box">
                            <div class="fs-area-pic">
                                <img class="cmPic fs-lazy"
                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                     data-src="@Url.Content("~/images/game/open-chest.png")"
                                     alt="Nhấn vào rương kho báu để mở khoá quà bí ẩn là gì?"
                                     ng-click="openChest()">
                            </div>
                            <div class="fs-area-txt">
                                <p>Nhấn vào rương kho báu để mở khoá quà bí ẩn là gì?</p>
                            </div>
                        </div>
                    </div>

                    <div class="fs-payment-box fs-lost-game type-chest is-open" style="display:none" id="popupGameChestNotProductConfirm">
                        <div class="fs-box">
                            <div class="fs-area-pic">
                                <img class="cmPic fs-lazy"
                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                     data-src="@Url.Content("~/images/game/empty-chest.png")"
                                     alt="Ôi tiếc quá! Rương bí ẩn này không có phần quà nào rồi! T.T">
                            </div>
                            <div class="fs-area-txt">
                                <p>Ôi tiếc quá! Rương bí ẩn này không có phần quà nào rồi! T.T</p>
                                <div class="fs-box-but">
                                    <div class="fs-btn" ng-click="continueAfterOpenChestNoProduct()"><span>Tiếp Tục</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="fs-payment-box fs-win-game" style="display:none" id="popupGameWinLcdConfirm">
                        <div class="fs-box">
                            <div class="fs-area-pic">
                                <img class="cmPic fs-lazy"
                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                     data-src="@Url.Content("~/images/game/chest.png")" alt="The chest">
                                <img class="cmPic image-gilf fs-lazy"
                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                     data-src="@Url.Content("~/images/game/gift-tv-monitor.png")" alt="Màn hình LCD Samsung">
                            </div>
                            <div class="fs-area-txt">
                                <h2>Chúc mừng bạn đã mở được kho báu</h2>
                                <h3 class="fs-price">
                                    1 x Màn hình LCD Samsung trị giá: <strong>4.990.000 VND</strong>
                                </h3>
                                <p>Nhân viên VinPro sẽ liên hệ với bạn để hướng dẫn cách lấy quà</p>
                                <div class="fs-box-but">
                                    <div class="fs-btn" ng-click="continueAfterOpenChestWinLcd()"><span>Tiếp Tục</span></div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="fs-payment-box fs-win-game" style="display:none" id="popupGameWinTvConfirm">
                        <div class="fs-box">
                            <div class="fs-area-pic">
                                <img class="cmPic fs-lazy"
                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                     data-src="@Url.Content("~/images/game/chest.png")" alt="The chest">
                                <img class="cmPic image-gilf fs-lazy"
                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                     data-src="@Url.Content("~/images/game/gift-tv-hd.png")" alt="TV LED Samsung">
                            </div>
                            <div class="fs-area-txt">
                                <h2>Chúc mừng bạn đã mở được kho báu</h2>
                                <h3 class="fs-price">1 x TV LED Samsung trị giá: <strong>6.400.000 VND</strong></h3>
                                <p>Nhân viên VinPro sẽ liên hệ với bạn để hướng dẫn cách lấy quà</p>
                                <div class="fs-box-but">
                                    <div class="fs-btn" ng-click="continueAfterOpenChestWinTv()"><span>Tiếp Tục</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--Form-->
            <!--Condition-->
            <div class="fs-section-box is-condition">

                <div class="fs-bg">
                    <div class="cmBg fs-lazy" data-src="@Url.Content("~/images/condition-bg.jpg")">
                    </div>
                </div>

                <div class="fs-title">
                    <h2>THỂ LỆ CHƯƠNG TRÌNH</h2>
                </div>

                <div class="fs-section-inr">

                    <div class="fs-condition-intro">
                        <h3>Đặt Gạch Samsung Galaxy Note mới</h3>
                        <p>
                            <i>
                                Từ nay đến hết ngày 14/08 VinPro - Viễn Thông A diễn ra chương trình<br> "Đặt Gạch Samsung Galaxy ProjectName và ProjectName+" rước quà lên đến 6 triệu. Đặt ngay!
                            </i>
                        </p>
                    </div>

                    <div class="fs-condition-box fs-has-layout">
                        <div class="fs-box">
                            <p><strong>Thời gian áp dụng:</strong> Từ nay đến hết ngày 14/08/2019</p>
                            <p><strong>Phạm vi áp dụng:</strong> Hệ thống VinPro - Viễn Thông A trên toàn quốc.</p>
                            <p><strong>Sản phẩm áp dụng:</strong> Samsung Galaxy ProjectName & Samsung Galaxy ProjectName+</p>
                            <p><strong>Giá dự kiến:</strong></p>
                            <p>- Samsung Galaxy ProjectName: 23.990.000đ</p>
                            <p>- Samsung Galaxy ProjectName+: 27.990.000đ</p>
                            <p><strong>Đối tượng áp dụng:</strong> Khách hàng đặt gạch và cọc thành công.</p>
                            <p><strong>Thời gian giao hàng dự kiến:</strong> từ ngày 23/08/2019.</p>
                            <p><strong>Nội dung chương trình:</strong></p>
                            <p><strong>Số tiền đặt cọc:</strong> 1.000.000đ</p>
                            <p>
                                Khách hàng đặt trước điện thoại Samsung Galaxy ProjectName và ProjectName+ tại hệ thống VinPro -
                                Viễn Thông A sẽ được tặng ngay bộ quà tặng với thông tin như sau:
                            </p>
                            <p class="fs-title-promotion"><strong>Với sản phẩm Galaxy ProjectName:</strong></p>
                            <p>- Tai nghe Samsung Galaxy Buds trị giá 4.490.000đ</p>
                            <p>- Trả góp lãi suất 0%</p>
                            <p>- Ưu đãi phòng chờ hạng thương gia</p>
                        </div>
                        <div class="fs-box">
                            <p class="fs-title-promotion"><strong>Với sản phẩm Galaxy ProjectName+:</strong></p>
                            <p class="fs-title-promotion">+ <strong>Bộ quà tặng chính hãng trị giá:</strong> 5.970.000đ</p>
                            <p>- Đồng hồ Galaxy Fit trị giá 2.490.000đ</p>
                            <p>- Sạc dự phòng không dây trị giá 1.290.000đ</p>
                            <p>- Bao da Samsung Clearview trị giá 1.190.000đ</p>
                            <p>- Phiếu mua hàng trị giá 1.000.000đ</p>
                            <p>- Trả góp lãi suất 0%</p>
                            <p>- Ưu đãi phòng chờ hạng thương gia</p>
                            <p>- Tích điểm 3% vào thẻ VinID (tương đương với có thêm 840.000đ để mua sắm tại hệ thống Vingroup)</p>
                            <p class="fs-title-promotion">+ <strong>Bộ quà tặng đặc biệt từ VinPro trị giá:</strong> 5.980.000đ</p>
                            <p>
                                - Thẻ quà tặng VinID được sử dụng để mua sắm trong hệ sinh thái Vingroup trị
                                giá 3.500.000đ
                            </p>
                            <p>- Sạc dự phòng không dây trị giá 1.290.000đ</p>
                            <p>- Bao da Samsung Clearview trị giá 1.190.000đ</p>
                            <p>- Trả góp lãi suất 0%</p>
                            <p>- Ưu đãi phòng chờ hạng thương gia</p>
                        </div>
                        <p class="fs-condition-note">Để biết thêm chi tiết chương trình, liên hệ hotline 1800 6988.</p>
                    </div>
                </div>
            </div>

            <!--/Condition-->
            <!--Comment-->
            <div class="fs-section-box is-comment">

                <div class="fs-section-inr">
                    <div class="fs-comment-box">

                        <div class="fs-title">
                            <h2>Bạn thắc mắc gì không? Để lại bình luận nhé</h2>
                        </div>

                        <div class="fb-comments"
                             data-href="https://vinpro.store/"
                             data-width="100%" data-numposts="5"></div>
                    </div>
                </div>

            </div>
            <!--/Comment-->
        </div>
        <!--/content-->
        <!--Popup-->
        <div class="fs-overlay">
            <div class="fs-overlay-inr">

                <div class="fs-close-overlay"></div>

                <div class="fs-title">
                    <p>Đặt trước siêu phẩm</p>
                    <h2>Tuỳ Chọn Quà <span>“khủng”</span></h2>
                </div>

                <div class="fs-box">
                    <div class="fs-area-pic">
                        <img class="cmPic fs-lazyExtra"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                             data-src="@Url.Content("~/images/intro-pic.png")" alt="Đặt trước siêu phẩm Tuỳ Chọn Quà “khủng”">
                    </div>
                </div>

                <div class="fs-box">
                    <p>Tổng giá trị lên đến</p>
                    <div class="fs-area-pic">
                        <img class="cmPic fs-lazyExtra"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                             data-src="@Url.Content("~/images/intro-price.png")" alt="Đặt trước siêu phẩm Tuỳ Chọn Quà “khủng”">
                    </div>
                    <div class="fs-box-but">
                        <div class="fs-btn gotoForm"><span>Đặt gạch</span></div>
                    </div>
                </div>

            </div>
        </div>
        <!--Popup-->
        <!--Popup Condition-->
        <div class="fs-overlay-condition">

            <div class="fs-close-overlay-condition"></div>

            <div class="fs-overlay-inr-condition">

                <div class="fs-overlay-condition-detail">
                    <h3>
                        Thể lệ chương trình <strong>"Trở thành Nhà thông thái Note"</strong> – Thử thách cho
                        các nhà thông thái siêu phẩm Note mới
                    </h3>
                    <p><strong>1. Đơn vị tổ chức:</strong> Công Ty TNHH Kinh Doanh và Thương Mại Dịch Vụ VinPro</p>
                    <p><strong>2. Tên chương trình:</strong> "Trở thành Nhà thông thái Note"</p>
                    <p><strong>3. Thời gian:</strong> Từ 08/08 – 22/08</p>
                    <p><strong>4. Hình thức tham gia:</strong></p>
                    <p>
                        - Người chơi truy cập vào website chính thức của chương trình để tham gia trả lời các câu hỏi
                        liên quan đến tính năng của siêu phẩm Galaxy ProjectName|ProjectName+
                    </p>
                    <p>
                        - Người chơi trả lời đúng tất cả các câu hỏi sẽ nhận được cơ hội may mắn trúng thưởng các phần
                        quà của chương trình
                    </p>
                    <p><strong>5. Đối tượng tham gia chương trình:</strong></p>
                    <p>
                        - Công dân Việt Nam đủ 16 tuổi trở lên (tính từ ngày đăng ký dự thi), đã có Chứng minh nhân dân,
                        đang sinh sống và làm việc tại Việt Nam, và có tài khoản email + số điện thoại hợp lệ
                    </p>
                    <p>- Các đối tượng sau không được phép tham gia chương trình:</p>
                    <p>
                        + Nhân viên phòng ban Marketing của công ty VinProđược chỉ định tham gia Ban Tổ Chức chương
                        trình, nhân viên công ty quảng cáo, in ấn và các bên có liên quan đến chương trình này.
                    </p>
                    <p>+ Thành viên trong gia đình của các đối tượng nêu trên (cha mẹ, ông bà, vợ chồng, con cái…)</p>
                    <p><strong>6. Cách thức tham gia chương trình:</strong></p>
                    <p>
                        - Bước 1: Người chơi truy cập vào trang đặt hàng trước Samsung Galaxy ProjectName|ProjectName+ của VinPro
                        tại địa chỉ <a target="_blank" href="https://vinpro.store/san-pham/samsung-galaxy-note-10"><u>https://vinpro.store/san-pham/samsung-galaxy-note-10</u></a>
                    </p>
                    <p>
                        - Bước 2: Người chơi đồng ý tham gia trò chơi <strong>"Trở thành Nhà thông thái Note"</strong>
                        với các điều khoản
                        & điều kiện của chương trình
                    </p>
                    <p>
                        - Bước 3: Người chơi lần lượt trả lời 05 câu hỏi liên quan đến tính năng sản phẩm Galaxy ProjectName | ProjectName+ bằng cách hứng đúng câu trả lời được rơi xuống.
                    </p>
                    <p>
                        Trong trường hợp người chơi hứng câu trả lời sai, người chơi phải lựa chọn Chơi lại từ đầu hoặc
                        tiếp tục quá trình Đặt hàng sản phẩm Galaxy ProjectName | ProjectName+
                    </p>
                    <p>
                        - Bước 4: Người chơi trả lời đúng cả 05 câu hỏi sẽ nhận được cơ hội bốc thăm may mắn để trúng
                        thưởng các giải thưởng của chương trình
                    </p>
                    <p><strong>7. Cơ cấu giải thưởng:</strong></p>
                    <p>+ 55 Tivi LED Samsung UA32N4300AKXXV – trị giá: 6.400.000đ </p>
                    <p>+ 50 Màn hình LCD Samsung LC27F397FHEXXV – trị giá: 4.990.000đ </p>
                    <p><strong>8.Ban tổ chức:</strong></p>
                    <p>Công Ty TNHH Kinh Doanh và Thương Mại Dịch Vụ VinPro</p>
                    <p><strong>9. Các quy định khác:</strong></p>
                    <p>
                        - Người tham gia tự chịu trách nhiệm về mọi tranh chấp, khiếu nại, khiếu kiện, đòi bồi thường
                        liên quan đến bản quyền, quyền sở hữu của nội dung tham gia chương trình của mình.
                        <br />
                        - Khi đã tham gia chương trình, người chơi đồng ý với việc sử dụng tên, hình ảnh và/hoặc những
                        thông tin được đăng kí trên mẫu đăng ký tham gia mà không có thù lao cho mục đích quảng cáo và
                        tiếp thị của VinPro. BTC có toàn quyền sử dụng thông tin cá nhân của người tham gia mà không
                        phải trả bất kì khoản phí nào liên quan đến quyền tác giả cho người tham gia.
                    </p>
                </div>

            </div>
        </div>
        <!--Popup Condition-->
    </div>
    <!--/Container-->
    <!--normal style-->
    <noscript id="normal-styles">
        <link href="@Url.Content("~/css/reset.css?v=1.0.0.3")" rel="stylesheet" type="text/css">
        <link href="@Url.Content("~/css/index.css?v=1.0.0.3")" rel="stylesheet" type="text/css">
    </noscript>
    <script>
        var normalStyles = function () {
            var normalNode = document.getElementById("normal-styles");
            var normalReplacement = document.createElement("div");
            normalReplacement.innerHTML = normalNode.textContent;
            document.body.appendChild(normalReplacement)
            normalNode.parentElement.removeChild(normalNode);
        };
        var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
        if (raf) raf(function () { window.setTimeout(normalStyles, 0) });
        else window.addEventListener('load', normalStyles);
    </script>
    <!--normal style-->
    <!--script-->
    <script src="@Url.Content("~/js/jquery-min.js")"></script>
    <script src="@Url.Content("~/js/base.js")"></script>
    <script src="@Url.Content("~/js/swiper.js")"></script>
    <script src="@Url.Content("~/js/TweenMax.min.js")"></script>
    <script src="@Url.Content("~/js/main.js?v=1.0.0.3")"></script>
    <!--/script-->
    <script src="@Url.Content("~/js/lib/angular.min.js")"></script>
    <script type="text/javascript">

        var app = angular.module("myApp", []);
        app.filter('sce', ['$sce', function ($sce) {
            return $sce.trustAsHtml;
        }]);
    </script>
    <script src="@Url.Content("~/js/controller/mainController.js?v=1.0.0.3")"></script>
</body>

</html>